
.App {
  text-align: center;
}
/*waste*/
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* For Sign up and log */
.form{
  display: flex;
  flex-direction: column;
}



/* Sujects viewing on*/
.Subjects{
  margin-left: 10%;
  align-self: center;
  text-align: center;
  background: red;
  border-radius: 10px;
  justify-content: center;
  height: 500px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  overflow: scroll;
}


/* Subject box insider starts*/
.SubId{
  margin: 0% 0% 0% 0% ;
  border-radius: 5px;
  border: 10px;
  background: orange;
  min-height: 20%;
  display: flex;
  flex-direction: row;
}

.Details{
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  flex: 1;
}
  .subName{
    flex: 2;
    margin-top: 5%;
  }

.joinClass{
  border:0;
  align-self: center;
  text-align: center;
  flex: 1;
  z-index: 5;
}
/* Subject box insider Ends*/

.nav-link{
  overflow: hidden;
}
/* Sujects viewing ends*/


/* Class section STARTS HERE */

.Content{
  background: whitesmoke;
  border-radius: 10px;
  
  margin-left: 2%;
  margin-top: 0%;
  height: 500px;/*maybe you are looking for this  %*/
  margin-bottom: 2%;
  width: 95%;
  display: flex;
  flex-direction: row;
}
.Options{
  border-radius:  10px 10px 10px 10px;
  
  background: grey;
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100px;
  margin-top: 5%;
}
.Option{
  align-items: center;
  align-content: inherit;
  flex: 1;
  border-radius: 10px;
  background: none;
  height: 100px;
}
.Option h4{
  margin-top: 10%;
  margin-left: 20%;
}

